<h1>Bem vindo ao buscar CEP</h1>
<div class="grid">
        <input type="text" pInputText class="p-inputtext-sm" [(ngModel)]="cepDigitado" placeholder="Digite o cep">    
</div>
<div class="grid">
    <button pButton pRipple type="button" icon="pi pi-search"  (click)="buscarCep()" class="p-button-rounded p-button-success p-button-outlined"></button>
</div>
<p-card *ngIf="temCep == true">
    <p>Tipo de endereço: {{tipoEndereco}}</p>
    <p>Endereco: {{enderecoCompleto}}</p>
    <p>Cidade : {{cidade}}</p>
    <p>Estado : {{estado}}</p>
    <p>Bairro: {{bairro}}</p>
    <p>DDD : {{ddd}}</p>
</p-card>        
<h3 *ngIf="temCep == false">Você não digitou o cep</h3>