@import url(../../../../styles.scss);

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::ng-deep .p-card {
    text-align: center;
    margin-top: 1.7em;
}


input {
    margin: 0 auto;
}

button {
    position: relative;
    top: 1em;
    margin: 0 auto;
}