@import url(../../../../styles.scss);

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::ng-deep p-card {
    width: 2em;
    text-align: center;
}

input {
    margin-left: 1em;
    width: 7em;
}

::ng-deep .p-card {
    margin-top: 1em;
}
